# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=
PORT=

# ssh 터널링
SSH_KEY_PATH=
EC2_HOST=
EC2_USER=ec2-user
DB_HOST=

# s3 버킷
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

# jwt secret key
JWT_SECRET=

# 구글 로그인
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# 카카오 로그인
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 네이버 로그인
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 프론트 주소
FRONTEND_URL=